@inject SignInManager<CustomUser> signInManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="masthead d-flex align-items-center">
    <div class="container px-4 px-lg-5 text-center">
        <h1 class="mb-1">HOME PAGE</h1>
        <h3 class="mb-5 text-warning"><em>Welcome ! It's Nice to See you again <p class="text-danger text-uppercase">@User.Identity.Name</p></em></h3>
    </div>
</header>

