@model AccountRegisterViewModel

<title>Book Management | Register</title>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link href="~/font-awesome/css/all.css" rel="stylesheet" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Register/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Register/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Register/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Register/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Register/vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Register/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Register/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Register/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Register/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Register/css/util.css">
<link rel="stylesheet" type="text/css" href="~/Register/css/main.css">
<!--===============================================================================================-->


<div class="limiter">
    <div class="container-login100">
        <div class="login100-more" style="background-image: url('~/Register/images/bg-01.jpg');"></div>

        <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
            <form class="login100-form validate-form" asp-action="Register" method="post" asp-controller="Accounts">
                <div asp-validation-summary="ModelOnly" class=" alert alert-danger"></div>

                <span class="login100-form-title text-center mb-1">
                    Sign Up
                </span>

                <div class="wrap-input100 validate-input" data-validate="Username is required">
                    <input class="input100 mt-3" asp-for="Username" placeholder="Entre Your username">
                    <span class="focus-input100" asp-validation-for="Username"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Name is required">
                    <input class="input100 mt-3" asp-for="FullName" placeholder="Entre Your FullName">
                    <span class="focus-input100" asp-validation-for="FullName"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input100 mt-3" asp-for="Email" placeholder="Entre Your Email Address">
                    <span class="focus-input100" asp-validation-for="Email"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Age is required">
                    <input class="input100 mt-3" asp-for="Age" value ="" placeholder="Entre Your Age">
                    <span class="focus-input100" asp-validation-for="Age"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Age is required">
                    <select class="input100" asp-for="Gender" asp-items="Model.Genders" style="border:none"></select>
                    <span class="focus-input100" asp-validation-for="Gender"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Phone Number is required">
                    <input class="input100 mt-3" asp-for="Telephone" value ="" placeholder="Entre Your Phone Number .. (+1)...">
                    <span class="focus-input100" asp-validation-for="Telephone"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100 mt-3" asp-for="Password" type="password" placeholder="Entre Your Password">
                    <span class="focus-input100" asp-validation-for="Password"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Repeat Password is required">
                    <input class="input100 mt-3" type="password" asp-for="ConfirmPassword" placeholder="Confirm your password">
                    <span class="focus-input100" asp-validation-for="Password"></span>
                </div>

                @*<div class="flex-m w-full p-b-33">
            <div class="contact100-form-checkbox">
                <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                <label class="label-checkbox100" for="ckb1">
                    <span class="txt1">
                        I agree to the
                        <a href="#" class="txt2 hov1">
                            Terms of User
                        </a>
                    </span>
                </label>
            </div>


        </div>*@

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" type="submit">
                            <i class="fas fa-plus-circle"></i>
                            Sign Up
                        </button>
                    </div>

                    <a class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30" asp-action="Login" asp-controller="Accounts">
                        <i class="fa fa-lock pr-2"></i>
                        Sign in
                        <i class="fa fa-long-arrow-right m-l-5"></i>
                    </a>
                </div>

            </form>
        </div>
    </div>
</div>
<!--===============================================================================================-->
<script src="~/Register/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="~/Register/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="~/Register/vendor/bootstrap/js/popper.js"></script>
<script src="~/Register/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="~/Register/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="~/Register/vendor/daterangepicker/moment.min.js"></script>
<script src="~/Register/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="~/Register/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="~/Register/js/main.js"></script>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/font-awesome/js/all.js"></script>


